<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contactez-nous !</h2>
                <hr class="primary">
                <p>Tu veux vivre l'AVENTURE de ta vie ? viens par là, contacte-nous !</p>
            </div>

            <div class="col-lg-4 text-center">
                <i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">hello@thehackingproject.org</a></p>
            </div>
        </div>
    </div>
</section>


